{% extends "base.html" %}
{% block content %}

<div class="card center-card">

    <h2 style="text-align:center;">Bem-vindo, {{ user.nome }}!</h2>

    <p style="font-size:18px; text-align:center; margin-top:10px;">
        Saldo EcoMoedas: 
        <strong style="color:#1e7c35; font-size:20px;">{{ user.eco_balance }}</strong>
    </p>

    <hr/>

    <section>
        <h3 style="margin-bottom:10px;">Registrar Descarte</h3>

        <form action="{{ url_for('registrar_pesagem') }}" method="post">
    <input class="input" name="material" placeholder="Material (opcional)">
    <input class="input" name="peso" type="number" step="0.01" placeholder="Peso (kg)" required>
    <input class="input" name="pin" placeholder="PIN do ponto de coleta" required>
    <button class="btn-green" type="submit">Registrar Pesagem</button>
</form>
    </section>

    <hr/>

    <section>
        <h3 style="margin-bottom:10px;">Últimos descartes</h3>
        <ul>
            {% for d in descartes %}
                <li>{{ d.data }} — {{ d.material }} — {{ d.peso }}kg → {{ d.eco_moedas }} moedas</li>
            {% else %}
                <li>Nenhum descarte registrado.</li>
            {% endfor %}
        </ul>
    </section>

</div>

{% endblock %}
